 /* input[type="button"] {
    width: 50px;
    height: 50px;
    font-size: 18px;
  } */
 /* .input{
    width: 100px;
    height: 80px;
 } */
 body{
    background-image: linear-gradient(to right, black , rgb(24, 1, 36));
 }
 .main{
    margin-top: 180px;
    margin-left: 500px;
    /* background-color: black; */
    width: 500px;
    height: 450px;
  }  
 .main1{
   margin-top: 10px;
   margin-left: 110px
   /* margin: 90px; */
 } 
#display{
    margin-left: -18px;
   width: 280px;
   height: 50px;
   margin-bottom: 10px;
   background: transparent;
   color: white;
   font-size: 1.25rem;
   padding: 15px;
}
.button1{
    display: flex;
}
input:hover{ 
   box-shadow: 0 0 2px 2px rgb(181, 178, 178);
   background-color: blueviolet;
}

.button1 input{
    width: 60px;
    height: 60px;
    margin-right: 10px;
    border-radius: 100%;
    border: 0;
    background-color: rgb(181, 178, 178);
    /* background-color: rgb(255, 77, 0); */
}
.button2 input{
    width: 60px;
    height: 60px;
    margin-right: 5px;
    margin-top: 5px;
    border-radius: 100%;
    border: 0;
    background-color: rgb(181, 178, 178);
}
.button3 input{
    width: 60px;
    height: 60px;
    margin-right: 5px;
    margin-top: 5px;
    border-radius: 100%;
    border: 0;
    background-color: rgb(181, 178, 178);
}
.button4 input{
    width: 60px;
    height: 60px;
    margin-right: 5px;
    margin-top: 5px;
    border-radius: 100%;
    border: 0;
    background-color: rgb(181, 178, 178);
}
.button5 input{
    width: 60px;
    height: 60px;
    /* margin-left: 20px; */
    margin-top: 5px;
    border-radius: 100%;
    border: 0;
    background-color: rgb(181, 178, 178);
}
.button5{
    margin-left: 32px;
}
